<div class="display-6 mb-4">
  <h1>New Post</h1>
</div>


  <%= form_with :model => @post do |form| %>
    <div class="mb-4">
      <%= form.label "Title", :class => "form-label" %>
      <%= form.text_field "title", :class => "form-control" %>
    </div>
      <div class="mb-4">
      <%= form.label "Description", :class => "form-label" %>
      <%= form.text_field "description", :class => "form-control" %>
    </div>
    <div class="mb-4">
      <%= form.label "Image", :class => "form-label" %>
      <%= form.file_field "uploaded_image", :class => "form-control" %>
    </div>
    <div class="mb-4">
      <%= form.label "Posted_on", :class => "form-label" %>
      <%= form.date_field "posted_on", :accept => "image/png,image/jpg,image/jpeg,image/gif", :class => "form-control" %>
    </div>
    <div class="mb-4">
      <%= form.submit "Create Post", :class => "btn btn-primary" %>
    </div>
    <%= form.hidden_field "place_id" %>
  <% end %>

