  <div class="display-6 mb-4">
    <h1><%= @place["name"] %></h1>
  </div>

  <div>
    <a class="btn btn-primary mb-4" href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
  </div>

  <div class="row">
    <% if @current_user %>
      <% for post in @posts %>
        <div class="col-md-4 col-sm-6 mb-4">
          <h3><%= post["title"] %></h3>
          <p><%= post["posted_on"] %></p>
          <p><%= post["description"] %></p>
        </div>
      <% end %>
    <% end%>
  </div>

  <div>
    <a class="btn btn-light" href="/places">Back to All Places</a>
  </div>
  
